nav {
    display: flex;
    align-items: center;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.artwork-images-ul {
    flex-direction: column;
}

.artwork-image {
    max-width: 100%;
}

.cart-artwork-image {
    max-width: 150px;
}