{% extends 'base.html' %}
{% block body %}
<h1>About</h1>
<p>I work with mixed media, spray paint, wall paint, different acrylics, oils, inks, etc.</p>
<p>Most of the inspiration stems from personal experiences, thoughts and emotions.</p>
<p>If you like what you see feel free to connect:</p>
<ul>
    <li><a href="mailto:hello@wasteman.online">Email</a></li>
    <li><a href="https://www.instagram.com/___________wasteman___________/">Instagram</a></li>
    <li><a href="https://www.tiktok.com/@___________wasteman___________">Tiktok (might not work)</a></li>
</ul>
{% endblock body %}