{% extends 'base.html' %}
{% block body %}
<h1>{{ page }}</h1>

{% if posters %}
    {% for poster in posters %}
        <a href="{% url 'poster' poster.id %}">
            <p><img src="{{ poster.images.first.image.url }}" alt="{{ poster.images.first.alt_text }}"></p>
            <p>Title: {{ poster.name }} (click to view)</p>
        </a>
    {% endfor %}

{% elif paintings %}
    {% for painting in paintings %}
        <a href="{% url 'painting' painting.id %}">
            <p><img src="{{ painting.images.first.image.url }}" alt="{{ painting.images.first.alt_text }}"></p>
            <p>Title: {{ painting.name }} (click to view)</p>
        </a>
    {% endfor %}

{% else %}
    <p>Waiting for {{ page|lower }} to show up...</p>
{% endif %}

{% endblock body %}