{% extends 'base.html' %}
{% block body %}

{% if poster %}
<h1>Poster page</h1>
<ul class="artwork-details">
        <li><span>Title: {{ poster.name }}</span></li>
        <li><span>Description: {{ poster.description }}</span></li>
        <li><span>Year: {{ poster.year }}</span></li>
        <li><span>Ratio: {{ poster.ratio|capfirst }}</span></li>
        <li><span>All sizes are available ✅</span></li>
    </ul>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <p>
            <input type="submit" value="Add to cart">
        </p>
    </form>
    {% if poster.images %}
        <ul class="artwork-images">
            {% for image in poster.images.all %}
                <li>
                    <img class="artwork-image" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% if painting %}
<h1>Painting page</h1>
    <ul class="artwork-details">
        <li><span>Title: {{ painting.name }}</span></li>
        <li><span>Description: {{ painting.description }}</span></li>
        <li><span>Year: {{ painting.year }}</span></li>
        <li><span>Width: {{ painting.width }}cm</span></li>
        <li><span>Height: {{ painting.height }}cm</span></li>
        <li><span>Available: {% if painting.in_stock %}✅ <a href="mailto:hello@wasteman.online">Contact to buy!</a>{% else %}❌{% endif %}</span></li>
    </ul>
    {% if painting.images %}
        <ul class="artwork-images">
            {% for image in painting.images.all %}
                <li>
                    <img class="artwork-image" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% endblock body %}