{% extends 'base.html' %}
{% block body %}
<h1>{{ page }}</h1>

{% if posters %}
    {% for poster in posters %}
        <p>{{ poster.name }}</p>
        <a href="{% url 'poster' poster.id %}">View poster</a>
    {% endfor %}
{% endif %}

{% if paintings %}
    {% for painting in paintings %}
        <p>{{ painting.name }}</p>
        <a href="{% url 'painting' painting.id %}">View poster</a>
    {% endfor %}
{% endif %}

{% if not posters or paintings %}
    <p>Waiting for {{ page|lower }} to show up...</p>
{% endif %}

{% endblock body %}