<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wasteman - {% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wasteman/main.css' %}">
    {% block head %}{% endblock head %}
    {% block script %}{% endblock script %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'posters' %}">Posters</a></li>
            <li><a href="{% url 'paintings' %}">Paintings</a></li>
            <li><a href="{% url 'cart' %}">
                Cart 
                {% if request.session.cart %}
                ( {{ request.session.cart.total }} )
                {% endif %}
            </a></li>
            <li><a href="{% url 'terms' %}">Terms of service</a></li>
        </ul>
    </nav>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block body %}
    {% endblock body %}
</body>
</html>