{% extends 'base.html' %}
{% block body %}
<h1>Cart</h1>

{% if forms_and_variations %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form_and_variation in forms_and_variations %}
        {% for variation, form in form_and_variation.items %}
            {{variation.poster.name}}
            {{variation.height}}cm x {{variation.width}}cm
            {{form}}
        {% endfor %}
    {% endfor %}
    <p>
        <input type="submit" value="Update cart">
    </p>
</form>
<p>Fixed shipping fee - 95.00kr SEK</p>
<!-- just add a anchor tag to the address page -->
<a href="{% url 'checkout' %}">Continue to checkout -></a>
{% else %}
    <p>Nothing here...</p>
{% endif %}

{% endblock body %}