{% extends 'base.html' %}
{% block body %}
<h1>Profile page</h1>
<h3>Welcome {{ request.user.username }}!</h3>
<h3>Your current financial status:</h3>
<ul>
    <li>Total payout:</li>
    <li>Payments received: </li>
    <li>Generated payment links: </li>
</ul>
<p><a href="#">Generate new payment link (QR)</a></p>
<hr>
<h3>Your Stripe configurations:</h3>
<hr>
<h3>Change your personal information:</h3>
<hr>
{% if password_change_form %}
<h3>Change your password:</h3>
    <form method="post">
        {% csrf_token %}
        {{ password_change_form }}
        <input type="submit" value="Change your password">
    </form>
{% endif %}
{% endblock body %}